<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>4UPersonal</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.voidstrike.alanlin.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.voidstrike.alanlin.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Post</servlet-name>
    <servlet-class>com.voidstrike.alanlin.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>View</servlet-name>
    <servlet-class>com.voidstrike.alanlin.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionTest</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Activity</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Comment</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Friend</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.FriendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Recommend</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.RecommendServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.voidstrike.alanlin.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionTest</servlet-name>
  	<url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Activity</servlet-name>
  	<url-pattern>/activity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Comment</servlet-name>
  	<url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Friend</servlet-name>
  	<url-pattern>/friend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Recommend</servlet-name>
  	<url-pattern>/recommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>